<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<link rel="stylesheet" href="/stylesheets/admin/home.css">
<div class="adminHomeParentDiv">
<div class="header">
    <div class="btn">
        <a href="/admin/add-product">Add Product</a>
    </div>
</div>
<table id="mytable" class="display">
    <thead>
        <tr>
            <th></th>
            <th>Item</th>
            <th>Price</th>
            <th>Color</th>
            <th>Available Sizes</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td><img src={{this.coverImage}}  alt=""></td>
            <td>{{this.category}}</td>
            <td class="price"><i class="las la-rupee-sign"></i>{{this.price}}</td>
            <td>{{this.color}}</td>
            <td>{{#each this.sizes}}{{this}}/{{/each}}</td>
            <td><a href="/admin/update-product-sizes/{{this._id}}">Update Sizes</a></td>
            <td><a href="/admin/edit-product/{{this._id}}">Edit Product</a></td>
            <td><a href="/admin/remove-product/{{this._id}}" class="del-pro"><i class="las la-trash"></i></a></td>
        </tr>
        {{/each}}
        
    </tbody>
</table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function () {
        $('#mytable').DataTable()
});

</script>