<link rel="stylesheet" href="/stylesheets/cart.css">

<link rel="stylesheet" href="/stylesheets/responsive.css">



      <div class="cartParentDiv" id="cart">
    <div class="hiddenDiv"></div>
    <div class="showableDiv">
      
   <div class="header">
    <div class="cart-items">
        <h5>Your Cart (<span id="cartLength">{{#if emptyCart}}0{{else}}{{cart.length}}{{/if}}</span>)</h5>
    </div>
    <div class="close-btn">
        <button id="cartCloseBtn" onclick="hideCart()"><i class="las la-times"></i></button>
    </div>
   </div>
   <div class="cart-products">
    {{#if emptyCart}}
      <div class="empty-cart">
        <h5>Your Cart is Empty</h5>
      </div>
      {{else}}
      {{#each cart}}
      <div class="cart-items">
        <div class="pro-img">
            <img data-src={{this.product.coverImage}} alt="">
        </div>
        <div class="cart-pro-details">
            <h5 class="pro-name">{{this.product.category}}</h5>
            <h5 class="pro-color">Color : <span>{{this.product.color}}</span></h5>
            <h5 class="pro-size">Size : <span>{{this.size}}</span></h5>
            <div class="pro-quantity">
                  <button class="btns" onclick="changeProductQuantity('{{this.product._id}}','{{this._id}}','{{this.quantity}}','{{this.total}}','{{this.product.price}}',1)"><i class="las la-plus"></i></button>
                  <h5 class="number" id="quantity">{{this.quantity}}</h5>
                  {{#if_eq this.quantity 1}}
                  <button class="btns" style="border-radius: 0px 25px 25px 0px;" disabled><i class="las la-minus"></i></button>
                  {{else}}
                  <button class="btns" id="minusBtn" onclick="changeProductQuantity('{{this.product._id}}','{{this._id}}','{{this.quantity}}','{{this.total}}','{{this.product.price}}',-1)" style="border-radius: 0px 25px 25px 0px;"><i class="las la-minus"></i></button>
                  {{/if_eq}}
                </div>
        </div>
        <div class="item-details">
            <div class="delete-pro">
                    <button style="cursor: pointer;" onclick="removeProduct('{{this.product._id}}','{{this._id}}','{{this.quantity}}','{{this.total}}','{{this.product.price}}')"><i class="las la-trash"></i></button>
            </div>
            <div class="price">
                <h5><i class="fa-solid fa-indian-rupee-sign"></i> <span>{{this.product.price}}</span></h5>
            </div>

        </div>
      </div>
      {{/each}}
      {{/if}}
   </div>
   <div class="total-div">
    <div class="totals">
        <div class="total">
            <h5 class="text">Sub Total</h5>
            <h5 class="price">{{#if emptyCart}}0{{else}}<i class="fa-solid fa-indian-rupee-sign"></i> <span>{{total}}</span>{{/if}}</h5>
        </div>
        <div class="total">
            <h5 class="text">Delivery Fee</h5>
            <h5 class="price"><span>Free</span></h5>
        </div>
    </div>
    <div class="final-total">
        <h5 class="text">Total</h5>
        <h5 class="price">{{#if emptyCart}}0{{else}}<i class="fa-solid fa-indian-rupee-sign"></i> <span id="total">{{total}}</span>{{/if}}</h5>
    </div>
   </div>
   {{#unless emptyCart}}
      
   <div class="checkout-btn">
    <a href="/checkout/{{cartId}}"> CHECKOUT</a>
   </div>
   {{/unless}}
 </div>
</div>

 
<script src="/javascripts/jquery.min.js"></script>

<script>
    async function changeProductQuantity(proId,cartId,quantity,total,price,value){
        quantity=parseInt(quantity)
        value=parseInt(value)
        let proDetails={
            proId,
            cartId,
            quantity:quantity,
            value:value,
            total,
            price
        }
        $.ajax({
           url:'/changeProductQuantity',
           method:'post',
           data:proDetails,
           success:(response)=>{
                if(response.status){
                    sessionStorage.setItem('showCart',true)
                    location.reload()


                }
           }
    })
    }
    async function removeProduct(proId,cartId,quantity,total,price){
        quantity=parseInt(quantity)
        let proDetails={
            proId,
            cartId,
            quantity:quantity,
            total,
            price
        }
        $.ajax({
            
           url:'/removeProduct',
           method:'post',
           data:proDetails,
           success:(response)=>{
                if(response.status){
                    location.reload()

                }
           }
    })
    }
</script>