<link rel="stylesheet" href="/stylesheets/header.css">

<link rel="stylesheet" href="/stylesheets/responsive.css">
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600&display=swap"  rel="stylesheet">
 
<div class="return-policy" id="returnPolicy">
  <h5>Hassle Free Returns & Replacements for 7 days</h5>
</div>
<div class="mobile-nav" id="mob-nav">
    <div class="menus">
        <div class="side-menu" id="mobSideBar">
           <div class="header">
            <div class="close">
                <button class="close-btn" onclick="menuCloseBtnClicked()" id="menuCloseBtn"><i class="las la-times"></i></button>
            </div>
            <div class="nav-brand">
               <h2><a href="/" class="link">basic<span>ally</span>.</a></h2>
            </div>
            <div class="right-opts">
                {{#if user}}
                <button class="" style="font-size: 58px;"><a href="/accounts" style="color: #000;"><i class="las la-user-check"></i></a></button>
                {{else}}
                <button class=""><a href="/accounts" style="color: #000;"><i class="las la-user" ></i></a></button>
                {{/if}}
               <button class="" onclick="showCart()"><i class="las la-shopping-bag"></i></button>
               
            </div>
           </div>
           <div class="options">
            <ul>
                <li class="" ><a id="shopMobOpt" onclick="changeActiveOption(this)" class="active link">Shop</a></li>
                <li class="" ><a id="transMobOpt" onclick="changeActiveOption(this)" class="link">Transparency</a></li>
                <li class="" ><a id="abtMobOpt" onclick="changeActiveOption(this)" class="link">About us</a></li>
            </ul>
           </div>
           <div class="hoverOpts">
            <div class="MobOption activeOpts" id="shopMobOpts">
                <div class="items-div">
                    <div class="items-options">
                       <h5 class="category">T-SHIRTS</h5>
                        <button disabled><i class="fa-solid fa-chevron-up"></i></button>
                       <button></button>
                       <div class="items-list" >
                            <ul>
                                {{#each products}}
                                <li><a href="/product-page/{{this._id}}">{{this.category}} | {{this.color}}</a></li>
                                {{/each}}
                               
                            </ul>
                        </div>
                    
                        
                    
                    
                       </div>
                    
                    <div class="items-options" style="border-bottom: none;">
                       <div class="img-opts" style="margin-top: 3em;">
                        <img data-src="/images/our-story-resized.webp" alt="">
                        <div class="opts">
                            <h5 class="opt">OUR STORY</h5>
                            <div class="to-link"><a href="" class="more-link">LEARN MORE  <i class="fa-solid fa-chevron-right"></i></a></div>
                        </div>
                       </div>
                </div>
                </div>
                
            </div>
            <div class="MobOption" id="transpMobOpts">
                <div class="items-div">
                    <div class="items-options" style="border-bottom: none;">
                       
                       <h5 class="category">TRANSPARENCY</h5>
                        <button disabled><i class="fa-solid fa-chevron-up"></i></button>
                        <div class="items-list " >
                            <ul>
                                <li><a href="">Fair Pay</a></li>
                                <li><a href="">Transparent Supply</a></li>
                                <li><a href="">Transparent Pricing</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="items-options" style="border-bottom: none;">
                       <div class="img-opts" >
                        <img data-src="/images/fair-pay.webp" alt="">
                        <div class="opts">
                            <h5 class="opt">FAIR PAY.FAIR TRADE</h5>
                            <div class="to-link"><a href="" class="more-link">LEARN MORE  <i class="fa-solid fa-chevron-right"></i></a></div>
                        </div>
                       </div>
                </div>
                </div>
                
            </div>
            <div class="MobOption" id="abtMobOpts">
                <div class="items-div">
                    <div class="items-options" style="border-bottom: none;">
                       <h5 class="category">ABOUT US</h5>
                       <button disabled><i class="fa-solid fa-chevron-up"></i></button>
                        <div class="items-list" >
                            <ul>
                                <li><a href="">Sustainable Fashion</a></li>
                                <li><a href="">Sustainable basics</a></li>
                                <li><a href="">Our Factories</a></li>
                                <li><a href="">Our Story</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="items-options" style="border-bottom: none;">
                       <div class="img-opts">
                        <img data-src="/images/slim-fashion.webp" alt="">
                        <div class="opts">
                            <h5 class="opt" style="margin-left: -1em;">SUSTAINABLE BASICS</h5>
                            <div class="to-link"><a href="" class="more-link">LEARN MORE  <i class="fa-solid fa-chevron-right"></i></a></div>
                        </div>
                       </div>
                </div>
                    <div class="items-options" style="border-bottom: none;">
                       <div class="img-opts">
                        <img data-src="/images/factories.webp" alt="">
                        <div class="opts">
                            <h5 class="opt">FACTOURISM</h5>
                            <div class="to-link"><a href="" class="more-link">READ MORE  <i class="fa-solid fa-chevron-right"></i></a></div>
                        </div>
                       </div>
                </div>
                </div>
                
            </div>
            
           </div>
           <div class="footer" id="nav-footer">
            <div class="social-media">
                <a href=""><i class="lab la-facebook-f"></i></a>
                <a href="" class="social-links"><i class="lab la-whatsapp"></i></a>
                <a href="" class="social-links"><i class="lab la-instagram"></i></a>
            </div>
           </div>         
        </div>
        </div>
    <div class="nav-items" id="mobNavItems">
        <div class="menu">
            
           <button class="menu-btn" id="menuBtn" onclick="menuBtnClicked()"><i class="las la-bars links"></i></button>
        </div>
        <div class="nav-brand" id="mobNavBrand">
           <h2><a href="/" class="links">basic<span>ally</span>.</a></h2>
        </div>
        <div class="right-opts">
            {{#if user}}
            <button class="usr-btn" style="font-size: 58px;"><a href="/accounts"><i class="las la-user-check links"></i></a></button>
            {{else}}
            <button class="usr-btn"><a href="/accounts"><i class="las la-user links" ></i></a></button>
            {{/if}}
            <button class="cart-btn" onclick="showCart()"><i class="las la-shopping-bag links"></i></button>
        </div>
    </div>

</div>
<div class="navbar"  id="navbar">
        <div class="nav-items">

        <div class="nav-brand">
        <h2><a href="/" class="links">basic<span>ally</span>.</a></h2>
        </div>
        <div class="nav-options">
            <ul>
                <li onmouseenter="shopOptHover(this)" id="shopOpt"><a class="links">Shop</a></li>
                <li onmouseenter="transpOptHover(this)" id="transpOpt"><a class="links">Transparency</a></li>
                <li onmouseenter="abtOptHover(this)" id="abtOpt"><a class="links">About</a></li>
            </ul>
        </div>
        <div class="nav-user">
            <ul>
                {{#if user}}
                <li><a href="/accounts" class="links"><i style="margin-top: 5px;" class="las la-user-check" ></i></a></li>
                {{else}}
                <li><a href="/accounts" class="links"><i class="las la-user" ></i></a></li>
                {{/if}}
                <li onclick="showCart()"><a class="links"><i class="las la-shopping-bag"></i></a></li>
            </ul>
        </div>
        <div class="shop-opts hover-options" id="shopOpts" >
            <div class="items">
            <h4><a href="" class="category">The Perfect Tees</a></h4>
            <div class="options">
                
                <div>
                    {{#each products}}
                    <div ><a onmouseover="productHovered('prmweight')" onmouseout="productOut('prmweight')"  href="/product-page/{{this._id}}" class="option">{{this.category}} | {{this.color}}</a></div>
                    {{/each}}
                    

                </div>
               
            </div>
            </div>
            
            <div class="items"></div>
            <div class="items">
            <div class="image-opts">
                <img data-src="/images/pista.webp" id="initialImg" class="pro-images" data-img-active alt="">
                <img data-src="/images/black.webp" id="prmImg" class="pro-images" alt="">
               
            </div>
            </div>
        </div>
        <div class="transp-opts hover-options" id="transpOpts" >
            <div class="items">
           
            <div class="options">
                
                <div>
                    <div ><a  href="" class="option">Fair Pay</a></div>
                    <div ><a  href="" class="option">Transparent Supply</a></div>
                    <div ><a  href="" class="option">Transparent Pricing</a></div>
                    <div ><a  href="" class="option">Cotton Clear Transparency</a></div>
                    

                </div>
               
            </div>
            </div>
            <div class="items">
            <div class="image-opts">
                <div class="opts" style="background: url('/images/cotton-clear.webp');">
                <div class="details">
                    <div class="options">

                 <h4>CLEAR COTTON</h4>
                    </div>
                <div class="to-link">
                     
                    <a href="" class="more-link">LEARN MORE  <i class="fa-solid fa-chevron-right"></i></a>
                </div>
                </div>
                </div>
               
            </div>
            </div>
            <div class="items">
            <div class="image-opts">
                <div class="opts" style="background: url('/images/fair-pay.webp');">
                <div class="details">
                    <div class="options">

                 <h4>FAIR PAY.FAIR TRADE</h4>
                    </div>
                <div class="to-link">
                     
                    <a href="" class="more-link">LEARN MORE  <i class="fa-solid fa-chevron-right"></i></a>
                </div>
                </div>
                </div>
               
            </div>
            </div>
            <div class="items">
            <div class="image-opts">
                <div class="opts" style="background: url('/images/fair-pay.webp');">
                <div class="details">
                    <div class="options">

                 <h4>FAIR PAY.FAIR TRADE</h4>
                    </div>
                <div class="to-link">
                     
                    <a href="" class="more-link">LEARN MORE  <i class="fa-solid fa-chevron-right"></i></a>
                </div>
                </div>
                </div>
               
            </div>
            </div>
            
        </div>
        <div class="abt-opts hover-options" id="abtOpts" >
            <div class="items">
            <h4><a href="" class="category">About Us</a></h4>
            <div class="options">
                
                <div>
                    <div ><a   href="" class="option">Slim Fashion</a></div>
                    <div ><a   href="" class="option">Substainable Basics</a></div>
                    <div ><a   href="" class="option">Our Factories</a></div>
                    <div ><a   href="" class="option">Our Journal</a></div>
                    

                </div>
               
            </div>
            </div>
           
            <div class="items">
            <div class="image-opts">
                <div class="opts" style="background: url('/images/slim-fashion.webp');">
                <div class="details">
                    <div class="options">

                 <h4>SLIM FASHION</h4>
                    </div>
                <div class="to-link">
                     
                    <a href="" class="more-link">LEARN MORE  <i class="fa-solid fa-chevron-right"></i></a>
                </div>
                </div>
                </div>
               
            </div>
            </div>
             <div class="items">
            <div class="image-opts">
                <div class="opts" style="background: url('/images/factories.webp');">
                <div class="details">
                    <div class="options">

                 <h4>FACTOURISM</h4>
                    </div>
                <div class="to-link">
                     
                    <a href="" class="more-link">LEARN MORE  <i class="fa-solid fa-chevron-right"></i></a>
                </div>
                </div>
                </div>
               
            </div>
            </div>
             <div class="items">
            <div class="image-opts">
                <div class="opts" style="background: url('/images/our-story-resized.webp');">
                <div class="details">
                    <div class="options">

                 <h4>OUR STORY</h4>
                    </div>
                <div class="to-link">
                     
                    <a href="" class="more-link">LEARN MORE  <i class="fa-solid fa-chevron-right"></i></a>
                </div>
                </div>
                </div>
               
            </div>
            </div>
        </div>
    </div>
</div> 

