
<script>
        
        !function(f,b,e,v,n,t,s){
        if(f.fbq)
        return;
        n=f.fbq=function(){
          n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script','https://connect.facebook.net/en_US/fbevents.js');
         fbq('init', '172181538913764');
         fbq('track', 'PageView');
     </script>
     <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=172181538913764&ev=PageView&noscript=1"
      /></noscript>   
<div id="homeParentDiv">

<section class="hero-section">
<div class="hero" id="hero"></div>
<div class="hero-content" id="hero-content">
    <div class="content">
    <h1>The Pefect Tshirt</h1>
    <h2>MADE FROM AMERICAN GROWN SUPIMA COTTON.</h2>
    <div class="shop-link">
        <a href="/product-page/{{products.0._id}}">Shop Now</a>
    </div>
    </div>
</div>
</section>
<section class="collections" id="product-page">
    <div class="options">

    <h4 class="collection-text">Shop</h4>
    <div class="btns" data-btns>
        <button data-prev-btn class="prev-btn" onclick="prevBtnClicked(this,'prem')"><i class="fa-solid fa-chevron-left"></i></button>
        <button data-next-btn class="next-btn" onclick="nextBtnClicked(this,'prem')"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
    </div>
    <div id="prem-product-cards" class="product-cards">
  
        
        {{#each products}}
        <div class="product-card">
            <a href="/product-page/{{this._id}}"><img  alt="{{this.category}}" data-src="{{this.coverImage}}"></a>
            <div class="product-details">
                <h5 class="product-name"><a href="/product-page/{{this._id}}">{{this.category}}</a></h5>
                

                <div class="colors">
                   {{#each ../colors}}
                   {{#if_eq this.color ../this.colorCode}}
                   <a class="" href="/product-page/{{this.id}}" data-selected><i class="fa-solid fa-circle" style="color: {{this.color}};"></i></a>
                   {{else}}
                   <a class="" href="/product-page/{{this.id}}" ><i class="fa-solid fa-circle" style="color: {{this.color}}"></i></a>
                   {{/if_eq}}
                   {{/each}}
                   <h5 class="product-color">{{this.color}}</h5>
                </div>
                
            </div>
        </div>
        {{/each}}
            </div>
        </div>
        
        
        
    </div>

</section>
<section class="about-section">
    <h4 class="about-heading">About Us</h4>
     <div class="about-grids">
        <div class="about-grid">
            <img src="/images/fair-pay.jpg" alt="">
            <div class="about-descriptions">
                <h5 class="about"><a href="">TRANSPARENCY</a></h5>
                <p class="description">We believe in fair pay, our basics are handcrafted by our wonderful workers. Love to share our journey with you!</p>
                <div class="read-more" ><a href="" class="more-link">READ MORE</a></div>
            </div>
        </div>
        <div class="about-grid">
            <img src="/images/sustainable-basics.jpg" alt="">
            <div class="about-descriptions">
                <h5 class="about"><a href="">SLOW FASHION</a></h5>
                <p class="description">Fashion is a carefully crafted product. It's not just something you can pick up at the store—it's a unique experience.That's why we believe in timeless fashion.</span></p>
                <div class="read-more" ><a href="" class="more-link" >READ MORE</a></div>
            </div>
        </div>
        <div class="about-grid">
            <img src="/images/slim-fashion-abt.jpg" alt="">
            <div class="about-descriptions">
                <h5 class="about"><a href="">SUPERIOR QUALITY</a></h5>
                <p class="description">Quality is chosen over quantity.We chose the finest and most rare <span>raw materials to create long lasting products</span></p>
                <div class="read-more" ><a href="" class="more-link">READ MORE</a></div>
            </div>
        </div>
     
     </div>
</section>
<section class="mob-abt-section">
    

    <h4 class="about-text">About us</h4>
   
    <div class="about-items">
  
        
        
        <div class="about-item">
            <img src="/images/fair-pay.jpg" alt="">
            <div class="about-description">
                <h5 class="about">TRANSPARENCY</h5>
                <h5 class="description">We believe in fair pay, our basics are handcrafted by our wonderful workers. Love to share our journey with you!</h5>
                <div class="read-more" ><a href="" class="more-link" >READ MORE</a></div>
            </div>
        </div>
        <div class="about-item">
            <img src="/images/sustainable-basics.jpg" alt="">
            <div class="about-description">
                <h5 class="about">SLOW FASHION</h5>
                <h5 class="description">Fashion is a carefully crafted product. It's not just something you can  pick up at the store—it's a unique experience.That's why we believe in timeless fashion.</h5>
                <div class="read-more" ><a href="" class="more-link" >READ MORE</a></div>
            </div>
        </div>
        <div class="about-item">
            <img src="/images/slim-fashion-abt.jpg" alt="">
            <div class="about-description">
                <h5 class="about">SUPERIOR QUALITY</h5>
                <h5 class="description">Quality is chosen over quantity.We chose the finest and most <br>rare raw materials to create long lasting products</h5>
                <div class="read-more" ><a href="" class="more-link" >READ MORE</a></div>
            </div>
        </div>
     
    </div>

</section>
<section class="page-content" id="content">
    <div class="quote">
        <h1>Buy Less,choose well,make it last.</h1>
        <h5>-Vivian Westwood-</h5>
    </div>
</section>
<section class="our-story">
    <img src="/images/our story.jpg" alt="">
     <div class="opts">
           <h5 class="opt">OUR STORY</h5>
            <div class="to-link"><a href="" class="more-link">READ MORE  <i class="fa-solid fa-chevron-right"></i></a></div>
    </div>
</section>


</div>
<script>
   let images=document.querySelectorAll('[data-src]')
   let imgOptions={}
   
   async function preLoadImage(img){
    const src=img.getAttribute("data-src")
    if(!src){
        return;
    }
    img.src=src

   }

   let imgObserver=new IntersectionObserver(async(entries,imgObserver)=>{
    entries.forEach(entry =>{
        if(!entry.isIntersecting){
            return;
        }else{
            preLoadImage(entry.target)
            imgObserver.unobserve(entry.target)
        }
    })
   })
    images.forEach(image =>{
        imgObserver.observe(image)
    })
</script>
