<link rel="stylesheet" href="/stylesheets/checkout.css">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


<div class="checkoutParentDiv">
    <div class="windows">
        <div class="leftWindow">

           <div class="checkoutHeader">
               <div class="brand">
                   <h2><a href="/" class="links">basic<span>ally</span>.</a></h2>
               </div>
           <div class="order-summary">
            <div class="header">
                <h5 class="order-txt">Order Summary</h5> 
                <div class="btns">
                   <button id="showOrderSummary" onclick="showOrderSummary(this)"><i class="fa-solid fa-chevron-down"></i></button>
                   <button id="hideOrderSummary" onclick="hideOrderSummary(this)"><i class="fa-solid fa-chevron-up"></i></button>
                </div>
                <h5 class="price"><i class="fa-solid fa-indian-rupee-sign"></i> <span>{{total}}</span></h5>

            </div>
            <div class="item-details" id="orderSummary">

            <div class="items">
                {{#each cart}}
                <div class="item">
                    <div class="pro-img">
                         <img src="{{this.product.coverImage}}" alt="">
                    </div>
                    <div class="pro-name">
                        <h5 class="name">{{this.product.category}} - {{this.product.color}}</h5>
                        <h5 class="size">Size : <span>{{this.size}}</span></h5>
                    </div>
                    <div class="pro-price">
                        <h5 class="price"><i class="fa-solid fa-indian-rupee-sign"></i> <span>{{this.product.price}}</span></h5>
                    </div>
                </div>
                {{/each}}
              </div>
              <div class="total-div">
                    <div class="form-div">
                    <form id="couponForm" onsubmit="couponCodeApplied(event,this)"> 

                    <input type="text" name="coupon" placeholder="Enter your coupon code here" id="couponCode">
                    <input type="text" name="cartId" value="{{cartId}}" hidden>
                    <input type="text" name="total" value="{{total}}" hidden>
                    <input type="submit" value="APPLY">
                    </form>
                    <p class="danger-text" id="couponNotFound">No Coupon Code found </p>
                    <p class="success-text" id="couponFound">Coupon Applied</p>
                    </div>
                <h5>Order Summary</h5>
                <div class="totals">
                    <div class="total-text">
                        <h4>Subtotal</h4>
                    </div>
                    <div class="total">
                        <h5 class="price"><i class="fa-solid fa-indian-rupee-sign"></i> <span data-total>{{total}}</span></h5>
                    </div>
                </div>
                <div class="totals">
                    <div class="total-text">
                        <h4>Shipping</h4>
                    </div>
                    <div class="total">
                        <h5 class="free-text">Free</h5>
                    </div>
                </div>
                <div class="totals">
                    <div class="total-text">
                        <h4 style="font-weight: 600;color: #000;">Total</h4>
                    </div>
                    <div class="total">
                        <h5 class="price"><i class="fa-solid fa-indian-rupee-sign"></i> <span data-total>{{total}}</span></h5>
                    </div>
                </div>
                
              </div>
           </div>
            </div>
               <h5 class="redirected">Cart<span class="within-spans"><i class="fa-solid fa-chevron-right"></i></span><span class="within-spans">Information</span><span class="within-spans"><i class="fa-solid fa-chevron-right"></i></span><span class="within-spans">Shipping</span><span class="within-spans"><i class="fa-solid fa-chevron-right"></i></span><span class="within-spans last-span">   Payment</span></h5>
           </div>
           <div class="shipping-options">
            <h4>Shipping address</h4>
            <form id="checkoutForm"  onsubmit="checkoutFormSubmitted(event)">
                <div class="input">
                   <div class="double-inputs">
                    <div class="input">
                    <label for="">First Name </label>
                     <input type="text" name="fname" required>
                   </div>
                    <div class="input">
                    <label for="">Last Name</label>
                     <input type="text" name="lname" required>
                   </div>
                  </div>
                </div>
                <div class="input">
                    <label for="">Address </label>
                     <input type="text" name="address" placeholder="House No,Place,Address" required>
                </div>
                <div class="input">
                    <label for="">Company (optional) </label>
                     <input type="text" name="company" >
                </div>
                <div class="input">
                   <div class="double-inputs">
                    <div class="input">
                    <label for="">City </label>
                     <input type="text" name="city" required>
                   </div>
                    <div class="input">
                    <label for="">Pincode</label>
                     <input type="text" name="pincode" required>
                   </div>
                  </div>
                </div>
                <div class="input">
                    <label for="">Email</label>
                     <input type="email" name="email" required>
                </div>
                <div class="input">
                    <label for="">Phone</label>
                     <input type="tel" name="phone" required>
                     <input type="text" name="cartId" value="{{cartId}}" hidden required>
                     <input type="text" name="total" id="totalInput" value="{{total}}" hidden required>
                </div>
                <div class="input">
                    <label for="">Whatsapp number</label>
                     <input type="tel" name="wtsp-num" required>
                </div>
               <div class="checkout-options">
                <h6>Payment Options</h6>
               <div class="payment-option online-payment">
                           <input type="radio" onchange="hideCODCaution()" name="paymentMethod" value="Online" required>                
                            <label for="">RazorPay</label>
               </div>
               <div class="payment-option on-delivery">
                   <input type="radio" onchange="showCODCaution()" name="paymentMethod" value="COD" required>
                     <label for="">Cash On Delivery</label>                
                   
                </div>
              </div>
                <p class="COD-caution" id="COD-caution"><i class="fa-solid fa-circle-info" style="margin-right: 3px;"></i>You will have to pay an extra INR 30 to proceed with Cash on delivery</p>
                <div class="input">
                    <div class="btns">
                      <button class="goback">Back to Cart</button>
                      <button class="continue" type="submit">Continue Shipping</button>
                    </div>
                </div>

            </form>
           </div>
        </div>
        <div class="rightWindow">
              <div class="items">
                {{#each cart}}
                   
                <div class="item">
                    <div class="pro-img">
                         <img src="{{this.product.coverImage}}" alt="">
                    </div>
                    <div class="pro-name">
                        <h5 class="name">{{this.product.category}} - {{this.product.color}}</h5>
                        <h5 class="size">Size : <span>{{this.size}}</span></h5>
                    </div>
                    <div class="pro-price">
                        <h5 class="price"><i class="fa-solid fa-indian-rupee-sign"></i> <span>{{this.product.price}}</span></h5>
                    </div>
                </div>
            {{/each}}
              </div>
              <div class="total-div">
                <div style="margin-left: 2em;" class="form-div">
                    <form id="couponDesForm" onsubmit="couponCodeApplied(event,this)"> 

                    <input type="text" name="coupon" style="width: 400px;" placeholder="Enter your coupon code here" id="couponCode" required>
                    <input type="text" name="cartId" value="{{cartId}}" hidden>
                    <input type="text" name="total" value="{{total}}" hidden>
                    <input type="submit" value="APPLY" style="position: absolute;margin-left: -2px;margin-top: -1px;height: 46px;">
                    </form>
                    <p class="danger-text" id="couponDesNotFound">No Coupon Code found </p>
                    <p class="success-text" id="couponDesFound">Coupon Applied</p>
                    </div>
                <h5>Order Summary</h5>
                <div class="totals">
                    <div class="total-text">
                        <h4>Subtotal</h4>
                    </div>
                    <div class="total">
                        <h5 class="price"><i class="fa-solid fa-indian-rupee-sign" ></i> <span data-total>{{total}}</span></h5>
                    </div>
                </div>
                <div class="totals">
                    <div class="total-text">
                        <h4>Shipping</h4>
                    </div>
                    <div class="total">
                        <h5 class="free-text">Free</h5>
                    </div>
                </div>
                <div class="totals">
                    <div class="total-text">
                        <h4 style="font-weight: 600;color: #000;">Total</h4>
                    </div>
                    <div class="total">
                        <h5 class="price"><i class="fa-solid fa-indian-rupee-sign"></i> <span data-total>{{total}}</span></h5>
                    </div>
                </div>
              </div>
        </div>
    
    </div>
</div>
<script src="/javascripts/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    async function showCODCaution(){
       document.getElementById('COD-caution').style.display='block'
    }
    async function hideCODCaution(){
       document.getElementById('COD-caution').style.display='none'
    }
    async function checkoutFormSubmitted(e){
        e.preventDefault()
       $.ajax({
        url:'/checkout',
        method:'post',
        data:$("#checkoutForm").serialize(),
        success:(res)=>{
             if(res.codSuccess){
                swal({
                    title:'Thank You!',
                    text: "Order Placed Successfully!You will get notified with other details through whatsapp",
                    icon: "success",
                  }).then(()=>{
                    location.href='/'

                  })
             }else{
                razorPayPayment(res.response,res.cartId)
             }
        }
       })
    }
  async function razorPayPayment(order,cartId){
    var options = {
    "key": "rzp_live_yKLVzQkqA90zGx", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Basically",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        verifyPayment(response,order,cartId)
    },
    
    
    "theme": {
        "color": "#000"
    }
  };
    var rzp1 = new Razorpay(options);
    
    rzp1.open();
  async function verifyPayment(payment,order,cartId){
      $.ajax({
        url:'/verifyPayment',
        method:'post',
        data:{
            payment,
            order,
            cartId},
        success:(res)=>{
            if(res.success){
                swal({
                    title:'Thank You!',
                    text: "Order Placed Successfully!You will get notified with other details through whatsapp",
                    icon: "success",
                  }).then(()=>{
                    location.href='/'

                  })
            }

        }
      })
  }
    } 
     async function couponCodeApplied(e,elm){
        let totals=document.querySelectorAll('[data-total]')
        e.preventDefault()
        $.ajax({
            url:"/applyCoupon",
            method:'post',
            data:$('#'+elm.id).serialize(),
            success:(res)=>{
                if(res.status){
                   document.getElementById('couponFound').style.display='block'
                   document.getElementById('couponFound').innerHTML=`You will have ${res.discount}% on your purchase`
                   document.getElementById('couponDesFound').innerHTML=`You will have ${res.discount}% on your purchase`
                   document.getElementById('couponDesFound').style.display='block'
                   document.getElementById('totalInput').value=res.total
                   document.getElementById('couponNotFound').style.display='none'
                   document.getElementById('couponDesNotFound').style.display='none'

                   totals.forEach(total =>{
                    total.innerHTML=res.total
                   })
                }else{
                   document.getElementById('couponNotFound').style.display='block'
                   document.getElementById('couponFound').style.display='none'
                   document.getElementById('couponDesFound').style.display='none'
                   document.getElementById('couponDesNotFound').style.display='block'
                }
            }
        })
    }

</script>