<link rel="stylesheet" href="/stylesheets/product-page.css">
<script defer >
        
        !function(f,b,e,v,n,t,s){
        if(f.fbq)
        return;
        n=f.fbq=function(){
          n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script','https://connect.facebook.net/en_US/fbevents.js');
         fbq('init', '172181538913764');
         fbq('track', 'PageView');
     </script>
     <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=172181538913764&ev=PageView&noscript=1"
      /></noscript>   
<link rel="stylesheet" href="/stylesheets/responsive.css">


<div class="productParentDiv">
     <div class="product-category-details">
      <h5>Home / Men / {{product.category}}</h5>
     </div>
     <div class="sticky-btn">
     <div class="add-to">
      <button disabled id="stickyAddToCart">ADD TO CART</button>
     </div>
   </div>
  <div class="products" id="products">
    <div class="mob-carousel-section">
    <div class="mob-carousel">
       <ul class="slides" id="slides"  data-carousel-items>
        <div class="ellipsis">
          {{#each product.proImages}}
          {{#if_eq @index 0}}
          <button class="ellipsis-btn active-ellipse"><i class="fa-solid fa-circle"></i></button>
          {{else}}
          <button class="ellipsis-btn"><i class="fa-solid fa-circle"></i></button>
          {{/if_eq}}
          {{/each}}
        </div>
        {{#each product.proImages}}
           
        <li class="slides-res">

        <img data-src="{{this}}"  alt="">
        </li>
        {{/each}}
        
       </ul>
    </div>
    </div>
  
  <div class="des-pro-image">
    <div class="pro-images" id="pro-images" tabindex="1">
      {{#if_lt product.proImages.length 2}}
      {{#each product.proImages}}
         
      <div class="end-img">
        <img data-src="{{this}}" alt="">
      </div>
      {{/each}}
      {{else}}
      {{#if_eq product.proImages.length 3}}

      {{#each product.proImages}}
      {{#if_eq @index 0}}
      <div class="end-img">
        <img data-src="{{this}}" alt="">
      </div>
      {{/if_eq}}
      {{/each}}
      <div class="mid-rows">
      {{#each product.proImages}}
      {{#if_gt0_ltVal @index 2}}
      <div class="mid-img">
        <img data-src="{{this}}" alt="">
      </div>
      {{/if_gt0_ltVal}}
      {{/each}}
      </div>
      {{else}}
      {{#each product.proImages}}
      {{#if_eq @index 0}}
      <div class="end-img">
        <img data-src="{{this}}" alt="">
      </div>
      {{/if_eq}}
      {{/each}}
      <div class="mid-rows">
      {{#each product.proImages}}
      {{#if_gt0_ltVal @index 2}}
      <div class="mid-img">
        <img data-src="{{this}}" alt="">
      </div>
      {{/if_gt0_ltVal}}
      {{/each}}
      </div>
      {{#each product.proImages}}
      {{#if_eq @index 3}}
      <div class="end-img">
        <img data-src="{{this}}" alt="">
      </div>
      {{/if_eq}}
      {{/each}}
      {{/if_eq}}
         
      {{/if_lt}}

    </div>
  </div>
  <div class="pro-details">
    <h3 class="name">{{product.category}}</h3>
    <h4 class="price"><i class="fa-solid fa-indian-rupee-sign"></i> <span>{{product.price}}</span></h4>
     <div class="color-div">
      <div class="color-text">
      <h4 class="pro-color">Color <span>| {{product.color}}</span></h4>
      </div>
      <div class="colors">

        <div class="buttons">
        {{#each colors}}
            {{#if_eq ../product.colorCode this.color}}
                <a class=""  data-selected><i class="fa-solid fa-circle" style="color: {{this.color}};"></i></a>
            {{else}}
                <a class="" href="/product-page/{{this.id}}" ><i class="fa-solid fa-circle" style="color: {{this.color}}"></i></a>
            {{/if_eq}}
        {{/each}}
        </div>
      </div>
     </div>
      {{#if_lt product.sizes.length 4}}
        <div class="size-section"  style="height: 110px;">
      {{else}}
         <div class="size-section" style="height: 185px;">
        {{/if_lt}}
        <div style="height: 45px;">
          <a href="/download-size-chart" style="cursor: pointer;" >Size Chart</a>
        </div>
      <div class="size-div">
        <div class="size-text">
          <h5>Size</h5>
        </div>
        <div class="sizes">
          <div class="button-group">
            {{#each product.sizes}}
               
                <button name="size" onclick="getSize(this)"  value={{this}}>{{this}}</button>
            {{/each}}
          </div>
          <input type="text"  name="" id="selectedSize" hidden>
        </div>
      </div>
    </div>
    <div class="add-to">
      <button disabled id="addToCart" onclick="addToCart('{{product._id}}',1)">ADD TO CART</button>
    </div>
    <div class="less-description">
      <p>The Pefect Tshirt crafted from 100% SUPIMA Cotton, feauturing a luxuriously soft and smooth fabric with exceptional durability to make it last for years and the comfiest piece on your wardrobe.</p>
    </div>
  </div>
</div>
  <div class="product-details">

   <h5>PRODUCT DETAILS</h5>

   <div class="details-div">
    <div class="about-product">
      <div class="options">
        <div class="option" style="margin-left: 0;">
          <h5 id="description" class="activeDetails" onclick="changeDetailsOptions(this)">DESCRIPTION</h5>
        </div>
        <div class="option">
          <h5 id="details" onclick="changeDetailsOptions(this)" >DETAILS</h5>
        </div>
        <div class="option">
          <h5 id="size" onclick="changeDetailsOptions(this)">SIZE & FIT</h5>
        </div>
      </div>
      <div class="details-options-div activeDetailsOptions"  id="descriptionsDiv">
        <div class="option-details">

        <h5 class="subheadings">LUXURY</h5>
        <p class="subdetails">Made with SUPIMA Cotton, the finest cotton in the world farmed in the United States. It is rare and expensive because it makes up less than 1% of all cotton grown worldwide.</p>
        </div>
        <div class="option-details">

        <h5 class="subheadings">Quality</h5>
        <p class="subdetails">This essential is built to last longer than your regular cotton T-shirt. The fabric is so smooth that you don't even realise you're wearing it. SUPIMA Cotton is twice as soft, stronger and vibrant allowing this Tshirt to last for a long time.</p>
        </div>
        <div class="option-details">

        <h5 class="subheadings">Design</h5>
        <p class="subdetails">There is no end-of-day bagginess due it's hinged elasticity feature, obtained from SUPIMA cotton's extra long fiber.</p>
        </div>
      </div>
      <div class="details-options-div " id="detailsDiv">
        <div class="option-details">

        <h5 class="subheadings">material</h5>
        <ul>
          <li>Material: 100% combed SUPIMA Cotton</li>
          <li>Fabric: 185 gsm</li>
          <li>Knit: Single jersey </li>
          <li>Piece dye: Dyed and Undyed </li>
        </ul>
    
        </div>
        <div class="option-details">

        <h5 class="subheadings">Country of Origin</h5>
        <ul>
          <li>Cotton fibers: USA</li>
          <li>Yarn-fabric: India</li>
        </ul>
        </div>
      </div>
      <div class="details-options-div" id="sizeDiv">
        <div class="option-details">

        <h5 class="subheadings">fit</h5>
        <ul>
          <li>Regular fit, that is Chest=Bottom opening</li>
          <li>Mid length sleeves</li>
          <li>Pre-washed/ True to size</li>
        </ul>
        </div>
        <div class="option-details">

        <h5 class="subheadings">sizes</h5>
        <ul>
          <li>Available in XS-2XL</li>
          <li>Size Chart can be downloaded here...link</li>
          <li>When in doubt send us e-mail in support@thebasically.in</li>
        </ul>
        </div>
        <div class="option-details">

        <h5 class="subheadings">model</h5>
        <ul>
          <li>Model wears size M</li>
          <li>Model's height: 6'0"</li>
          <li>Model's chest: 38</li>
        </ul>
        </div>
      </div>
    </div>
      <div class="image-div">
        <img data-src="{{product.coverImage}}" alt="">

      </div> 
   </div>
  </div>
  <div class="clothing">
    <div class="mob-heading">

    <h5 class="">TRANSPARENT PRICING</h5>
    </div>
    <div class="img-div">

     <img data-src="/images/breakdown.svg" alt="">
    </div>
     <div class="description">
       <h5 class="heading">Transparency</h5>
       <h6 class="sub-heading">Fair Pay.Fair Trade</h6>
       <p class="text">When you choose basically you get exactly what you pay for.
        <br>We believe that being sustainable requires having transparent 
        <br>supply chain and knowing the whole story behind our staples
        <br>We love to share our production journey with you! 
       </p>
       <div class="to-link">

         <a href="">Learn More</a>
       </div>
      </div>
    </div>
  <div class="our-ethics-section">
    <div class="logo">

    <img data-src="/images/supima-logo.webp" alt="">
    </div>
     <div class="item-grids">
        <div class="item-grid">
          <img data-src="/images/soft.webp" alt="">
          <div class="item-description">
            <h5 class="sub-heading">SOFT</h5>
            <p class="ethics-description">Supima is inherently softer and more luxurious because it has a finer fibers than regular cottons</p>
          </div>
        </div>
        <div class="item-grid">
          <img data-src="/images/fit.webp" alt="">
          <div class="item-description">
            <h5 class="sub-heading">FIT</h5>
            <p class="ethics-description">No end of day bagginess, keeps in shape all day, wrinkle free with excellent drape</p>
          </div>
        </div>
        <div class="item-grid">
          <img data-src="/images/dyed.webp" alt="">
          <div class="item-description">
            <h5 class="sub-heading">DURABLE</h5>
            <p class="ethics-description">Supima is twice as strong as regular cotton because longer fibre resists breaking making it last for years</p>
          </div>
        </div>

     </div> 
  </div>
  <div class="insta-section">
    <div class="texts">
      <div class="heading">
        <h6>AS SEEN ON YOU</h6>
      </div>
      <div class="ig">

        <h6><a href="https://www.instagram.com/thebasically.in/"><i class="fa-brands fa-instagram"></i>FOLLOW US @THEBASICALLY.IN ON INSTAGRAM</a></h6>
      </div>
    </div>
    <div class="insta-grids">
      <div class="insta-imgs">
        <img data-src="/images/insta-section-1.webp" alt="">
      </div>
      <div class="insta-imgs">
        <img data-src="/images/insta-section-2.webp" alt="">
      </div>
      <div class="insta-imgs">
        <img data-src="/images/insta-section-3.webp" alt="">
      </div>
      <div class="insta-imgs">
        <img data-src="/images/insta-section-4.webp" alt="">
      </div>
      
    </div>
  </div>
  
</div>
</div>
  <script>
    let slides = document.getElementById('slides')
    slides.onscroll =()=>{
    let scrollLeft=slides.scrollLeft
    let btns=document.getElementsByClassName('ellipsis-btn')
    let activeEllipse=document.getElementsByClassName('active-ellipse')
    if(scrollLeft <900){
        activeEllipse[0].classList.replace('active-ellipse','.')
        btns[0].className +=' active-ellipse'
    }
    if(scrollLeft >900 && scrollLeft <1900){
            activeEllipse[0].classList.replace('active-ellipse','.')
            btns[1].className +=' active-ellipse'
    }
    if(scrollLeft >1900 && scrollLeft < 2900 ){
            activeEllipse[0].classList.replace('active-ellipse','.')
            btns[2].className +=' active-ellipse'
    }
    if(scrollLeft >2900 && scrollLeft < 3900 ){
            activeEllipse[0].classList.replace('active-ellipse','.')
            btns[3].className +=' active-ellipse'
    }
    if(scrollLeft >3900 && scrollLeft < 4900 ){
            activeEllipse[0].classList.replace('active-ellipse','.')
            btns[4].className +=' active-ellipse'
    }
    if(scrollLeft >4900 && scrollLeft < 5900 ){
            activeEllipse[0].classList.replace('active-ellipse','.')
            btns[5].className +=' active-ellipse'
        
    }
   
}

   
   let images=document.querySelectorAll('[data-src]')
   let imgOptions={}
   
   async function preLoadImage(img){
    const src=img.getAttribute("data-src")
    if(!src){
        return;
    }
    img.src=src

   }

   let imgObserver=new IntersectionObserver(async(entries,imgObserver)=>{
    entries.forEach(entry =>{
        if(!entry.isIntersecting){
            return;
        }else{
            preLoadImage(entry.target)
            imgObserver.unobserve(entry.target)
        }
    })
   })
    images.forEach(image =>{
        imgObserver.observe(image)
    })
</script>
<script>
  async function getSize(elm){
    let selected=document.querySelectorAll('[data-size]')
    selected.forEach(size =>{
      delete size.dataset.size
    })
    elm.dataset.size=true
    document.getElementById('selectedSize').value=elm.value
    document.getElementById('addToCart').removeAttribute('disabled')
    document.getElementById('stickyAddToCart').removeAttribute('disabled')
  }
  async function clearSize(elm){
    document.getElementById('selectedSize').value=null
    document.getElementById('addToCart').setAttribute('disabled',true)
    document.getElementById('stickyAddToCart').setAttribute('disabled',true)
  }
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" defer></script>
<script>
  async function addToCart(proId,quantity){
      let sizeTag=document.querySelectorAll('[data-size]')
      let size=sizeTag[0].value
      let cartProDiv=document.getElementsByClassName('cart-products')
    let proObj={
                proId:proId,
                quantity:1,
                size:size
            }
            let cartObj={
                user:"Guest",
                products:[proObj]
            }
              
      $.ajax({
        url:'/addToCart/'+proId+"/"+size,
        method:"GET",
        success:((response)=>{
          if(response.status){
            if(response.newProduct){
             
            let cartlength=parseInt(document.getElementById('cartLength').innerHTML)
            document.getElementById('cartLength').innerHTML = cartlength+1
            }
            
                swal({
                    title:'Congrats!',
                    text: "Your product has been added to cart successfully",
                    icon: "success",
                  }).then(()=>{
                    sessionStorage.setItem('showCart',true)
                    location.reload()

                  })
          }
        })
      })
  }
  
</script>