<link rel="stylesheet" href="/stylesheets/product-page.css">


<div class="productParentDiv">
     <div class="product-category-details">
      <h5>Home / Men / {{product.category}}</h5>
     </div>
     <div class="sticky-btn">
     <div class="add-to">
      <button disabled id="stickyAddToCart">Add to cart</button>
     </div>
   </div>
  <div class="products" id="products">
    <div class="mob-carousel-section">
    <div class="mob-carousel">
       <ul class="slides" id="slides" onscroll="showMoreImages(this)" data-carousel-items>
        <div class="ellipsis">
          {{#each product.proImages}}
          {{#if_eq @index 0}}
          <button class="ellipsis-btn active-ellipse"><i class="fa-solid fa-circle"></i></button>
          {{else}}
          <button class="ellipsis-btn"><i class="fa-solid fa-circle"></i></button>
          {{/if_eq}}
          {{/each}}
        </div>
        {{#each product.proImages}}
           
        <li class="slides-res">

        <img data-src="{{this}}" width="980" alt="">
        </li>
        {{/each}}
        
       </ul>
    </div>
    </div>
  
  <div class="des-pro-image">
    <div class="pro-images" id="pro-images" tabindex="1">
      {{#if_lt product.proImages.length 2}}
      {{#each product.proImages}}
         
      <div class="end-img">
        <img data-src="{{this}}" alt="">
      </div>
      {{/each}}
      {{else}}
      {{#if_eq product.proImages.length 3}}

      {{#each product.proImages}}
      {{#if_eq @index 0}}
      <div class="end-img">
        <img data-src="{{this}}" alt="">
      </div>
      {{/if_eq}}
      {{/each}}
      <div class="mid-rows">
      {{#each product.proImages}}
      {{#if_gt0_ltVal @index 2}}
      <div class="mid-img">
        <img data-src="{{this}}" alt="">
      </div>
      {{/if_gt0_ltVal}}
      {{/each}}
      </div>
      {{else}}
      {{#each product.proImages}}
      {{#if_eq @index 0}}
      <div class="end-img">
        <img data-src="{{this}}" alt="">
      </div>
      {{/if_eq}}
      {{/each}}
      <div class="mid-rows">
      {{#each product.proImages}}
      {{#if_gt0_ltVal @index 2}}
      <div class="mid-img">
        <img data-src="{{this}}" alt="">
      </div>
      {{/if_gt0_ltVal}}
      {{/each}}
      </div>
      {{#each product.proImages}}
      {{#if_eq @index 3}}
      <div class="end-img">
        <img data-src="{{this}}" alt="">
      </div>
      {{/if_eq}}
      {{/each}}
      {{/if_eq}}
         
      {{/if_lt}}

    </div>
  </div>
  <div class="pro-details">
    <h3 class="name">{{product.category}}</h3>
    <h4 class="price"><i class="fa-solid fa-indian-rupee-sign"></i> <span>{{product.price}}</span></h4>
     <div class="color-div">
      <div class="color-text">
      <h4 class="pro-color">Color <span>| {{product.color}}</span></h4>
      </div>
      <div class="colors">

        <div class="buttons">
        {{#each colors}}
            {{#if_eq ../product.colorCode this.color}}
                <a class=""  data-selected><i class="fa-solid fa-circle" style="color: {{this.color}};"></i></a>
            {{else}}
                <a class="" href="/product-page/{{this.id}}" ><i class="fa-solid fa-circle" style="color: {{this.color}}"></i></a>
            {{/if_eq}}
        {{/each}}
        </div>
      </div>
     </div>
      {{#if_lt product.sizes.length 4}}
        <div class="size-section"  style="height: 110px;">
      {{else}}
         <div class="size-section" style="height: 185px;">
        {{/if_lt}}
      <a href="">Size Chart</a>
      <div class="size-div">
        <div class="size-text">
          <h5>Size</h5>
        </div>
        <div class="sizes">
          <div class="button-group">
            {{#each product.sizes}}
               
                <button name="size" onclick="getSize(this)"  value={{this}}>{{this}}</button>
            {{/each}}
          </div>
          <input type="text"  name="" id="selectedSize" hidden>
        </div>
      </div>
    </div>
    <div class="add-to">
      <button disabled id="addToCart" onclick="addToCart('{{product._id}}',1)">Add to cart</button>
    </div>
  </div>
</div>
  <div class="product-details">

   <h5>PRODUCT DETAILS</h5>

   <div class="details-div">
    <div class="about-product">
      <div class="options">
        <div class="option" style="margin-left: 0;">
          <h5 id="description" class="activeDetails" onclick="changeDetailsOptions(this)">DESCRIPTION</h5>
        </div>
        <div class="option">
          <h5 id="details" onclick="changeDetailsOptions(this)" >DETAILS</h5>
        </div>
        <div class="option">
          <h5 id="size" onclick="changeDetailsOptions(this)">SIZE & FIT</h5>
        </div>
      </div>
      <div class="details-options-div activeDetailsOptions"  id="descriptionsDiv">
        <div class="option-details">

        <h5 class="subheadings">LUXURY</h5>
        <p class="subdetails">An understated sweatshirt is the ultimate contemporary essential. Our luxurious rendition of this classic American varsity sweatshirt is versatile and timeless. Handmade in Portugal from an exceptionally soft 400gsm loopback French Terry fabric.</p>
        </div>
        <div class="option-details">

        <h5 class="subheadings">Quality</h5>
        <p class="subdetails">We have elevated this wardrobe staple to new heights due to our custom-developed fabric, crafted from 100% fine Combed Cotton. By removing impurities and straightening its fibres during the combing process, we made sure the Perfect Sweatshirt is not just significantly softer but also more durable than its rivals.</p>
        </div>
        <div class="option-details">

        <h5 class="subheadings">Design</h5>
        <p class="subdetails">Having originally been developed for sports garments, the loops on the back of the fabric are designed to absorb moisture, passing it into the garment to keep you cool. Conversely – during colder weather – our loopback fabric is designed to trap warm air inside, providing an insulating layer for day-to-day wear.</p>
        </div>
      </div>
      <div class="details-options-div " id="detailsDiv">
        <div class="option-details">

        <h5 class="subheadings">material</h5>
        <ul>
          <li>Material: 100% Combed Organic Cotton</li>
          <li>Fabric: 400gsm French Terry</li>
          <li>Knit: 22GG</li>
        </ul>
        </div>
        <div class="option-details">

        <h5 class="subheadings">Country of Origin</h5>
        <ul>
          <li>Zip: made in Portugal by YKK</li>
          <li>Fabric: knitted by our  Cotton Experts in Portugal</li>
          <li>Garment: made in our  Sweatshirt Factory in Portugal</li>
        </ul>
        </div>
        <div class="option-details">

        <h5 class="subheadings">Carbon footprint</h5>
        <ul>
          <li>CO2 emissions caused by production: 6.2kg</li>
          <li>Carbon offset: 100%</li>
          <li>Project: Forest protection</li>
        </ul>
        </div>
      </div>
      <div class="details-options-div" id="sizeDiv">
        <div class="option-details">

        <h5 class="subheadings">fit</h5>
        <ul>
          <li>Cut for a straight fit</li>
          <li>Set-in & fitted sleeves</li>
          <li>Fits true to size / Pre-washed</li>
        </ul>
        </div>
        <div class="option-details">

        <h5 class="subheadings">sizes</h5>
        <ul>
          <li>Offered in our optimised sizing system</li>
          <li>Available widths: XS-3XL</li>
          <li>Available lengths: Shorter, Regular, Longer</li>
          <li>When in doubt, send us an email: fit@sanvt.com</li>
        </ul>
        </div>
        <div class="option-details">

        <h5 class="subheadings">model</h5>
        <ul>
          <li>Model wears: L Regular</li>
          <li>Model’s height: 187cm / 6’1″</li>
          <li>Model’s chest 97cm / 38″</li>
        </ul>
        </div>
      </div>
    </div>
      <div class="image-div">
        <img data-src="{{product.coverImage}}" alt="">

      </div> 
   </div>
  </div>
  <div class="clothing">
     <img src="/images/breakdown.svg" alt="">
     <div class="description">
       <h5 class="heading">Transparency</h5>
       <h6 class="sub-heading">Fair Pay.Fair Trade</h6>
       <p class="text">When you choose basically you get exactly what you pay for.
        <br>We believe that being sustainable requires having transparent 
        <br>supply chain and knowing the whole story behind our staples
        <br>We love to share our production journey with you! 
       </p>
       <div class="to-link">

         <a href="">Learn More</a>
       </div>
      </div>
    </div>
  <div class="our-ethics-section">
     <h5>Our Ethics</h5>
     <div class="item-grids">
        <div class="item-grid">
          <img src="/images/supima.png" alt="">
          <div class="item-description">
            <h5 class="sub-heading">SUPIMA Cotton</h5>
            <p class="ethics-description">We produce in small batches with the finest materials to make them last longer</p>
            <a href="">Read More</a>
          </div>
        </div>
        <div class="item-grid">
          <img src="/images/slim-fashion-abt.jpg" alt="">
          <div class="item-description">
            <h5 class="sub-heading">Handcrafted</h5>
            <p class="ethics-description">We only work with small factories that share our ethics of fair wages and high labour standards</p>
            <a href="">Read More</a>
          </div>
        </div>
        <div class="item-grid">
          <img src="/images/superior-q.jpg" alt="">
          <div class="item-description">
            <h5 class="sub-heading">Superior quality</h5>
            <p class="ethics-description">We only use the world's finest fabrics.Our basics stay fit and more comfortable than your typical t-shirt</p>
            <a href="">Read More</a>
          </div>
        </div>

     </div>
  </div>
  
  <div class="basicallies-section">
    <h5 class="heading">People Wearing basically. <br> #basicallies</h5>
    <div class="basicallies-grids" id="grid-items">
      <button class="grid-btns nextBtn" onclick="showMoreBasicallies(this)"><i class="fa-solid fa-chevron-right"></i></button>
      <button class="grid-btns prevBtn" id="basic-prev-btn" onclick="showLessBasicallies(this)"><i class="fa-solid fa-chevron-left"></i></button>
      <div class="basicallies">
          <img src="/images/home-mob.jpg" alt="">

      </div>
      <div class="basicallies">
          <img src="/images/home-mob.jpg" alt="">

      </div>
      <div class="basicallies">
          <img src="/images/home-mob.jpg" alt="">

      </div>
      <div class="basicallies">
          <img src="/images/home-mob.jpg" alt="">
      </div>
      <div class="basicallies">
        <img src="/images/home-mob.jpg" alt="">
      </div>
    </div>
  </div>
</div>
</div>
<script src="/javascripts/carousel.js"></script>
  <script>
   
   let images=document.querySelectorAll('[data-src]')
   let imgOptions={}
   
   function preLoadImage(img){
    const src=img.getAttribute("data-src")
    if(!src){
        return;
    }
    img.src=src

   }

   let imgObserver=new IntersectionObserver((entries,imgObserver)=>{
    entries.forEach(entry =>{
        if(!entry.isIntersecting){
            return;
        }else{
            preLoadImage(entry.target)
            imgObserver.unobserve(entry.target)
        }
    })
   })
    images.forEach(image =>{
        imgObserver.observe(image)
    })
</script>
<script>
  function getSize(elm){
    let selected=document.querySelectorAll('[data-size]')
    selected.forEach(size =>{
      delete size.dataset.size
    })
    elm.dataset.size=true
    document.getElementById('selectedSize').value=elm.value
    document.getElementById('addToCart').removeAttribute('disabled')
    document.getElementById('stickyAddToCart').removeAttribute('disabled')
  }
  function clearSize(elm){
    document.getElementById('selectedSize').value=null
    document.getElementById('addToCart').setAttribute('disabled',true)
    document.getElementById('stickyAddToCart').setAttribute('disabled',true)
  }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  function addToCart(proId,quantity){
      let sizeTag=document.querySelectorAll('[data-size]')
      let size=sizeTag[0].value
      let cartProDiv=document.getElementsByClassName('cart-products')
    let proObj={
                proId:proId,
                quantity:1,
                size:size
            }
            let cartObj={
                user:"Guest",
                products:[proObj]
            }
              
      $.ajax({
        url:'/addToCart/'+proId+"/"+size,
        method:"GET",
        success:((response)=>{
          if(response.status){
            if(response.newProduct){
             
            let cartlength=parseInt(document.getElementById('cartLength').innerHTML)
            document.getElementById('cartLength').innerHTML = cartlength+1
            }
            
                swal("Product Added to Cart Successfully", {
                    title:'Congrats!',
                    text: "Your product has been added to cart successfully,Apply Coupon Code 'FIRSTORDER' to get upto 10% off",
                    icon: "success",
                  }).then(()=>{
                    sessionStorage.setItem('showCart',true)
                    location.reload()

                  })
          }
        })
      })
  }
  
</script>